input[type="text"], input[type="password"], input[type="email"], select {
	width: 177px;
    height: 40px;
    padding-left: 14px;
}




element.style {
    font-size: 23px;
}

.buttons-set {
	margin-left: 192px;
}

.fw_600 {
	color: #dc3333;
}

 .h2, h2 {
	margin-top: -17px;
}