
.wellhead{
  height:60px;
}
/* homepage */

/* *,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
} */

/* .clearfix:after {
	clear: both;
}

body {
	font-family: sans-serif;
	background: #f6f9fa;
}

h1 {
	color: #ccc;
	text-align: center;
}

a {
  color: #ccc;
  text-decoration: none;
  outline: none;
} */

/*Fun begins*/
.tab_container {
	width: 90%;
	margin: 0 auto;
	padding-top: 5px;
	position: relative;
}

input, section {
  clear: both;
  padding-top: 10px;
  
}

/* label {
  /* font-weight: 200px; */
  /* font-size: 11px; */
  /* display: block;
  float: left;
  width: 25%;
  padding: 0.7em;
  color: #f53d3d;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #9e5252;
} */ 
.marginphai{
   margin-right:  100px;
}
/* Userinformation */
.list-cust .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.list-cust .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.list-cust .list-group-item {
 border-right:0px;
 border-left:0px;
}
.list-group :not(:first-child) {
  background-color: #EEE;
  
}
.user-inf-inf{
  margin-top: 30px;
}
.navbar-custom {
  background-color:#00897B;
  color:#ffffff;
  border-radius:0;
}
.navbar-custom-2{
background-color:#9F9F9F;
  color:#ffffff;
  border-radius:0;
}
/* .card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
} */

.card-headera:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-headera + .list-group .list-group-item:first-child {
  border-top: 0;
}
.UI-history-buy{
  margin-top: 20px;
}
/* adminLogin */
